.complete {
    background-color: #2b83ba;
}
.ncomplete {
    background-color: #fdae61;
}
.open {
    background-color: #EEEEEE;
}
.box {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 0px solid gray;
    display: inline-flex;
    margin-left: 0px;
    margin-bottom: 0px;
    line-height: 10px;
}
.boxMarked {
    width: 10px;
    height: 10px;
    border-radius: 1px;
    border: 0px solid gray;
    display: inline-flex;
    margin-left: 0px;
    margin-bottom: 0px;
    line-height: 10px;
    background-color: #b2df8a;
}
.boxUnMarked {
    width: 10px;
    height: 10px;
    border-radius: 1px;
    border: 0px solid gray;
    display: inline-flex;
    margin-left: 0px;
    margin-bottom: 0px;
    line-height: 10px;
    background-color: #BBBBBB;
}

.site-name {
    line-height: 1.1em;
    font-size: 12pt;
    margin-top: 15px;
    position: relative;
}
.part-row {
    line-height: 10px;
}

.tiny-name {
    font-size: 9px;
    font-family: monospace;
    font-weight: 500;
    line-height: 8px;
    margin-left: 8px;
    display: inline-flex;
    vertical-align: middle;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: 'rgba(128,128,128,0.5)';
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}

#waiting {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite, color 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);      }
    50% { transform: rotate(180deg);   }
    100% { transform: rotate(360deg);  }
}

@keyframes color {
    0% { border-top-color: '#3498db'; }
    50% { border-top-color: '#000088';}
    100% { border-top-color: '#3498db'; }
}